<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<app-date-time-display></app-date-time-display>

  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-input [(ngModel)]="city"></ion-input>
  </ion-item>
  
  <div class="center-button">
    <ion-button expand="small" (click)="getWeather()">Obtener el clima</ion-button>
  </div>  
  
  <div *ngIf="weatherData">
    <h2>{{ weatherData.name }}</h2>
    <p>Temperature: {{ weatherData.main.temp }}°C</p>
    <p>Weather: {{ weatherData.weather[0].description }}</p>
  </div>
</ion-content>
