#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 20px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.center-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.titulo {
  font-size: 30px;
  padding-bottom: 25px;
  color: blue;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  padding-left: 20px;
}

/* ++++++++ Formatting the icon ++++++++ */
.image-weather-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-icon{
  width: 200px;
  height:200px;
}








.custom-alert .alert-wrapper {
  background-color: #ff4757; /* Fondo rojo */
  color: white; /* Texto blanco */
}

.custom-alert .alert-header {
  color: white; /* Color del texto del encabezado */
}

.custom-alert .alert-message {
  color: white; /* Color del mensaje */
}
